{% extends 'layouts/base.html' %}

{% block title %} About US {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">

    <div class="row mt-4">

      <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-8">
                <div class="d-flex flex-column h-100">
                  <p class="mb-1 pt-2 text-bold">Time Asset Management</p>
                  <h5 class="font-weight-bolder">联系我们</h5>
                  <p class="mb-3">
                    <ul>
                      <li><strong>Email:</strong> wcui@timeasset.fund</li>
                      <li><strong>Phone:</strong> (601) 641 - 9888</li>
                      <li><strong>Mailing Address:</strong> 8175 S. Virginia St. #850-266, Reno, Nevada 89511</li>
                      <li><strong>FINRA CRD:</strong> 326573</li>
                      <li><strong>SEC Private Fund ID:</strong> 805-6184631153 </li>
                    </ul>
                  </p>
                  
                </div>
              </div>
              <div class="col-lg-3 ms-auto text-center mt-5 mt-lg-0">
                <div class="bg-gradient-primary border-radius-lg h-100">
                  <div class="position-relative d-flex align-items-center justify-content-center h-100">
                    <img class="w-100 position-relative z-index-2 pt-2" src="{{ config.ASSETS_ROOT }}/img/theme/contact.png" alt="rocket">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="d-flex flex-column h-100">
                  <p class="mb-1 pt-2 text-bold">Time Asset Management</p>
                  <h5 class="font-weight-bolder">Deposit And Withdraw</h5>
                  <p class="mb-3">
                    Any member may deposit or withdraw a part or all of the value of his/her accumulated account with 90 days written notice. The payment will be made in cash at the end of each quarter only based on membership capital table at the end of that quarter.  
                    <ul>
                      <li><strong>Deposit Process:</strong> </li>
                      <li>1. Write a check and mail to the above Mailing address.</li>
                      <li>2. Your new money will show in your account balance in the coming quarter</li>
                      <li><strong>Withdraw Process:</strong> </li>
                      <li>1. Send your withdraw request through <a href = "mailto: wcui@timeasset.fund">email(wcui@timeasset.fund)</a> with withdraw amount and your mailing address.</li>
                      <li>2. You will receive a check in the coming quarter to the address you provided in the email with the requested amount. </li>
        
                    </ul>
                    
                    
                   
                  </p>
                  
                </div>
              </div>
              <div class="col-lg-3 ms-auto text-center mt-5 mt-lg-0">
                <div class="bg-gradient-primary border-radius-lg h-100">
                  <div class="position-relative d-flex align-items-center justify-content-center h-100">
                    <img class="w-100 position-relative z-index-2 pt-4" src="{{ config.ASSETS_ROOT }}/img/theme/Deposit.png" alt="rocket">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <h1>new Data:<span id = "userID"></span></h1>
    {% include "includes/footer.html" %}

  </div>

  <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="create-form">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <div class="modal-body">
              <div class="mb-3">
                  <label for="name">Title</label>
                  <input id="title" class="form-control" name="title">
              </div>
                <p id="create-error" class=" text-danger fw-bold"></p>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save changes">
        </div>
      </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="edit-form">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <div class="modal-body">
              <div class="mb-3">
                  <label for="name">Id</label>
                  <input readonly id="edit_id" class="form-control" name="id">
                  <label for="name">Title</label>
                  <input id="edit_title" class="form-control" name="title">
              </div>
                <p id="edit-error" class=" text-danger fw-bold"></p>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save changes">
        </div>
      </form>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}


<script>
  function fetch_data(){
    fetch("https://jsonplaceholder.typicode.com/todos/1")
    .then(res => res.json())
    .then(d => {
      document.getElementById('userID').innerText = d.title + Date.now()
      console.log(d)
    })
  }
    
    setInterval(function(){
      fetch_data();},1000)
    
  </script>


{% endblock javascripts %}
