{% extends 'layouts/base.html' %}

{% block title %} SPY Trade {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
    <div class="alert alert-warning" role="alert">
      <h4>SPY Price : <span id = "spy_price"></span> | SPY Strike Price : <span id = "spy_srike_price"></span></h4>
    </div>
    <h3>Portfolio Balance</h3>
    <h5>Cash : <span id = "cash"></span> | Buying Power : <span id = "buying_power"></span> | Net Asset : <span id = "net_asset"></span> </h5>
    <h3>SPY Portfolio</h3>
    <h5>SPY Position : <span id = "spy_position"></span> | Call Amount : <span id = "call_amt"></span> | Put Amount : <span id = "put_amt"></span> </h5>
    <h3>Positions To Roll: <span id = "position_to_roll"></span></h3>
    <table border-collapse="collapse" border="1px solid red">
      <tr>
        <td>
          <div id="right_picker_div"></div>
        </td>
        <td>
          <div id="LastTradeDate_picker_div"></div>
        </td>
        <td>
          <div id="Strike_picker_div"></div>
        </td>
        <td>
          <div id="Position_picker_div"></div>
        </td>

      </tr>
    </table>

    <table border="1px solid red" width="100%">
      <tr>
        <td>
          <div id="positions_to_roll"></div>
        </td>
      </tr>
    </table>

    <h3>Open Orders:<span id = "open_orders"></span></h3>
    <table border-collapse="collapse" border="1px solid red">
      <tr>
        <td>
          <div id="order_ight_picker_div"></div>
        </td>
        <td>
          <div id="action_picker_div"></div>
        </td>
        <td>
          <div id="status_picker_div"></div>
        </td>
        <td>
          <div id="orderType_picker_div"></div>
        </td>

      </tr>
    </table>

    <table border="1px solid red" width="100%">
      <tr>
        <td>
          <div id="open_orders"></div>
        </td>
      </tr>
    </table>
    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', { packages: ['table', 'controls'] });
</script>

<script>
  function drawOpenOrdersChart() {
      // Define the chart to be drawn.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'conId');
      data.addColumn('string', 'time');
      data.addColumn('string', 'right');
      data.addColumn('string', 'action');
      data.addColumn('string', 'totalQuantity');
      data.addColumn('string', 'orderType');
      data.addColumn('string', 'lmtPrice');
      data.addColumn('string', 'status');
      data.addColumn('string', 'filled');
      data.addColumn('string', 'remaining');
      data.addColumn('string', 'avgFillPrice');
      data.addColumn('string', 'account');
      var rows = [];
      fetch("/trade/open_orders")
        .then(res => res.json())
        .then(d => {        
          // Iterate over each object in the array and display its content
          d.forEach(obj => {
            var row = []
            row[0] = obj.conId.toString()
            row[1] = obj.time.toString()
            row[2] = obj.right.toString()
            row[3] = obj.action.toString()
            row[4] = obj.totalQuantity.toString()
            row[5] = obj.orderType.toString()
            row[6] = obj.lmtPrice.toString()
            row[7] = obj.status.toString()
            row[8] = obj.filled.toString()
            row[9] = obj.remaining.toString()
            row[10] = obj.avgFillPrice.toString()
            row[11] = obj.account.toString()

            rows.push(row)
          });

          data.addRows(rows);
          var options1 = {
            showRowNumber: true,
            width: '100%'
          };
          var cssClassNames1 = {
            'headerRow': 'italic-darkblue-font large-font bold-font',
            'oddTableRow': 'beige-background',
            'selectedTableRow': 'red-font',
            'headerCell': 'gold-border'
          };
          var tableChart1 = new google.visualization.ChartWrapper({

            'chartType': 'Table',
            'containerId': 'open_orders',
            'options': {
              page: 'enable',
              pageSize: '50',
              allowHtml: 'true',
              sortColumn: '2',
              sortAscending: 'false',
              showRowNumber: 'true',
              width: '100%',
              'cssClassNames': cssClassNames1
            }
          });

          var rightPicker = new google.visualization.ControlWrapper({
            'controlType': 'CategoryFilter',
            'containerId': 'order_right_picker_div',
            'options': {
              'filterColumnLabel': 'right',
              'ui': {
                'labelStacking': 'vertical',
                'allowTyping': false,
                'allowMultiple': true,
                'allowNone': true
              }
            }
          });
          var LastTradeDatePicker = new google.visualization.ControlWrapper({
            'controlType': 'CategoryFilter',
            'containerId': 'LastTradeDate_picker_div',
            'options': {
              'filterColumnLabel': 'LastTradeDate',
              'ui': {
                'labelStacking': 'vertical',
                'allowTyping': false,
                'allowMultiple': true,
                'allowNone': true
              }
            }
          });
          var StrikePicker = new google.visualization.ControlWrapper({
            'controlType': 'CategoryFilter',
            'containerId': 'Strike_picker_div',
            'options': {
              'filterColumnLabel': 'Strike',
              'ui': {
                'labelStacking': 'vertical',
                'allowTyping': false,
                'allowMultiple': true,
                'allowNone': true
              }
            }
          });
          var PositionPicker = new google.visualization.ControlWrapper({
            'controlType': 'CategoryFilter',
            'containerId': 'Position_picker_div',
            'options': {
              'filterColumnLabel': 'Position',
              'ui': {
                'labelStacking': 'vertical',
                'allowTyping': false,
                'allowMultiple': true,
                'allowNone': true
              }
            }
          });

          // Instantiate and draw the chart.
          var dash = new google.visualization.Dashboard(document.getElementById('dashboard_open_orders'));

          dash.bind([], [tableChart1]);
          dash.draw(data);

          var chart = new google.visualization.Table(document.getElementById('open_orders'));
          chart.draw(data, options1);
        })
      }
  function drawPositionsToRollChart() {
      // Define the chart to be drawn.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Right');
      data.addColumn('string', 'LastTradeDate');
      data.addColumn('string', 'Strike');
      data.addColumn('string', 'Position');
      var rows = [];
      fetch("/trade/portfolio_spy")
      .then(res => res.json())
      .then(d => {
        for (position_to_roll of d.positions_to_roll) {
          var row = []
          row[0] = position_to_roll[1].right.toString()
          row[1] = position_to_roll[1].lastTradeDateOrContractMonth.toString()
          row[2] = position_to_roll[1].strike.toString()
          row[3] = position_to_roll[2].toString()
          alert(row)
          rows.push(row)
        }
        data.addRows(rows);
        var options = {
          showRowNumber: true,
          width: '100%'
        };
        var cssClassNames = {
          'headerRow': 'italic-darkblue-font large-font bold-font',
          'oddTableRow': 'beige-background',
          'selectedTableRow': 'red-font',
          'headerCell': 'gold-border'
        };
        var tableChart = new google.visualization.ChartWrapper({

          'chartType': 'Table',
          'containerId': 'positions_to_roll',
          'options': {
            page: 'enable',
            pageSize: '50',
            allowHtml: 'true',
            sortColumn: '2',
            sortAscending: 'false',
            showRowNumber: 'true',
            width: '100%',
            'cssClassNames': cssClassNames
          }
        });

        var rightPicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'right_picker_div',
          'options': {
            'filterColumnLabel': 'Right',
            'ui': {
              'labelStacking': 'vertical',
              'allowTyping': false,
              'allowMultiple': true,
              'allowNone': true
            }
          }
        });
        var LastTradeDatePicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'LastTradeDate_picker_div',
          'options': {
            'filterColumnLabel': 'LastTradeDate',
            'ui': {
              'labelStacking': 'vertical',
              'allowTyping': false,
              'allowMultiple': true,
              'allowNone': true
            }
          }
        });
        var StrikePicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'Strike_picker_div',
          'options': {
            'filterColumnLabel': 'Strike',
            'ui': {
              'labelStacking': 'vertical',
              'allowTyping': false,
              'allowMultiple': true,
              'allowNone': true
            }
          }
        });
        var PositionPicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'Position_picker_div',
          'options': {
            'filterColumnLabel': 'Position',
            'ui': {
              'labelStacking': 'vertical',
              'allowTyping': false,
              'allowMultiple': true,
              'allowNone': true
            }
          }
        });

        // Instantiate and draw the chart.
        var dash = new google.visualization.Dashboard(document.getElementById('dashboard'));

        dash.bind([rightPicker, LastTradeDatePicker, StrikePicker, PositionPicker], [tableChart]);
        dash.draw(data);

        var chart = new google.visualization.Table(document.getElementById('positions_to_roll'));
        chart.draw(data, options);
      })

    }

  function fetch_data(){
    fetch("https://jsonplaceholder.typicode.com/todos/1")
    .then(res => res.json())
    .then(d => {
      document.getElementById('userID').innerText = d.title + Date.now()
      console.log(d)
    })
  }

  function fetch_spy_price(){
    //to bypass the cert error, need open a new tab, and access the below url, and access the risk.
    fetch("/trade/price")
    .then(res => res.json())
    .then(d => {
      document.getElementById('spy_price').innerText = d.price
      document.getElementById('spy_srike_price').innerText = d.strike_price
      console.log(d)
    })
  }

  function fetch_balance(){
    //to bypass the cert error, need open a new tab, and access the below url, and access the risk.
    fetch("/trade/account_balance")
    .then(res => res.json())
    .then(d => {
      document.getElementById('cash').innerText = d.cash
      document.getElementById('buying_power').innerText = d.buying_power
      document.getElementById('net_asset').innerText = d.net_asset
      console.log(d)
    })
  }

  function fetch_open_trades(){
    fetch("/trade/open_orders")
    .then(res => res.json())
    .then(d => {
      for(trade of d.trades){
        alert(trade)
      }
    })
  }

  function fetch_spy_portfolio(){
    //to bypass the cert error, need open a new tab, and access the below url, and access the risk.
    fetch("/trade/portfolio_spy")
    .then(res => res.json())
    .then(d => {
      document.getElementById('spy_position').innerText = d.spy_position
      document.getElementById('call_amt').innerText = d.call_amt
      document.getElementById('put_amt').innerText = d.put_amt
      //alert(d.positions_to_roll[0][0])
      //document.getElementById('position_to_roll').innerText = d.positions_to_roll[0][0]
      var position_to_roll_str = "Right  LastTradeDate  Strike  Position " + "\n"
      for (position_to_roll of d.positions_to_roll) {
        position_to_roll_str = position_to_roll_str + position_to_roll[1].right+ "          " + position_to_roll[1].lastTradeDateOrContractMonth+ "             " + position_to_roll[1].strike+ "       " + position_to_roll[2]+ "  "+"\n"
      }
      document.getElementById('positionsToRoll').innerHTML = position_to_roll_str
      console.log(d)
    })
  }
  fetch_open_trades();
  fetch_spy_price();
  fetch_balance();
  fetch_spy_portfolio();
/*
setInterval(function(){
  fetch_spy_price();
  fetch_balance();
  fetch_spy_portfolio();
},1000)
    */
   
   google.charts.setOnLoadCallback(drawPositionsToRollChart);
   google.charts.setOnLoadCallback(drawOpenOrdersChart);
  </script>


{% endblock javascripts %}
