{% extends 'layouts/base.html' %}

{% block title %} SPY Trade {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>
  table {
    border-collapse: collapse;
    font-size: 10px;
  }

  th, td {
    border: 0.5px dotted rgb(171, 220, 237);
    padding: 1px 1px;
  }
</style>

    <div class="container-fluid py-4">
    <div class="alert alert-warning" role="alert">
      <h4>SPY Price : <span id = "spy_price"></span> | SPY Strike Price : <span id = "spy_srike_price"></span></h4>
    </div>
    <h3>Portfolio Balance</h3>
    <h5>Cash : <span id = "cash"></span> | Buying Power : <span id = "buying_power"></span> | Net Asset : <span id = "net_asset"></span> </h5>
    <h3>SPY Portfolio</h3>
    <h5>SPY Position : <span id = "spy_position"></span> | Call Amount : <span id = "call_amt"></span> | Put Amount : <span id = "put_amt"></span> </h5>
    <h3>Positions To Roll: </h3>
    <table>
      <tr>
        <td>
          <button class="btn mb-2 me-2 btn-outline-primary" type="button"><i class="far fa-heart me-2"></i>Close</button>
        </td>
        <td>
          <button class="btn mb-2 me-2 btn-outline-primary" type="button"><i class="far fa-heart me-2"></i>Duplicate</button>
        </td>
        <td>
          <button class="btn mb-2 me-2 btn-outline-primary" type="button"><i class="far fa-heart me-2"></i>Roll</button>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <h6 id="right_picker_div"></h6>
        </td>
        <td>
          <h6 id="LastTradeDate_picker_div"></h6>
        </td>
        <td>
          <h6 id="Strike_picker_div"></h6>
        </td>
        <td>
          <h6 id="Position_picker_div"></h6>
        </td>
      </tr>
    </table>
    
    <span id = "positions_to_roll"></span>

    

    <h3>Open Orders:</h3>
    <table>
      <tr>
        <td>
          <button class="btn mb-2 me-2 btn-outline-primary" type="button"><i class="far fa-heart me-2"></i>New Order</button>
        </td>
        <td>
          <button class="btn mb-2 me-2 btn-outline-primary" type="button"><i class="far fa-heart me-2"></i>Cancel Order</button>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <h6 id="order_right_picker_div"></h6>
        </td>
        <td>
          <h6 id="action_picker_div"></h6>
        </td>
        <td>
          <h6 id="status_picker_div"></h6>
        </td>
        <td>
          <h6 id="orderType_picker_div"></h6>
        </td>
      </tr>
    </table>

    <span id = "open_orders"></span>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', { packages: ['table', 'controls'] });
</script>

<script>
  function drawOpenOrdersChart() {
      // Define the chart to be drawn.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'ConId');
      data.addColumn('string', 'Time');
      data.addColumn('string', 'Right');
      data.addColumn('string', 'Action');
      data.addColumn('string', 'TotalQuantity');
      data.addColumn('string', 'OrderType');
      data.addColumn('string', 'LmtPrice');
      data.addColumn('string', 'Status');
      data.addColumn('string', 'Filled');
      data.addColumn('string', 'Remaining');
      data.addColumn('string', 'AvgFillPrice');
      data.addColumn('string', 'Account');
      var rows = [];
      fetch("/trade/open_orders")
        .then(res => res.json())
        .then(d => {        
          // Iterate over each object in the array and display its content
          d.forEach(obj => {
            var row = []
            row[0] = obj.conId.toString()
            row[1] = obj.time.toString()
            row[2] = obj.right.toString()
            row[3] = obj.action.toString()
            row[4] = obj.totalQuantity.toString()
            row[5] = obj.orderType.toString()
            row[6] = obj.lmtPrice.toString()
            row[7] = obj.status.toString()
            row[8] = obj.filled.toString()
            row[9] = obj.remaining.toString()
            row[10] = obj.avgFillPrice.toString()
            row[11] = obj.account.toString()

            rows.push(row)
          });

          data.addRows(rows);
          var options1 = {
            showRowNumber: true,
            width: '100%'
          };
          
          var tableChart1 = new google.visualization.ChartWrapper({

            'chartType': 'Table',
            'containerId': 'open_orders',
            'options': {
              page: 'enable',
              pageSize: '50',
              allowHtml: 'true',
              sortColumn: '2',
              sortAscending: 'false',
              showRowNumber: 'true',
              width: '100%'
            }
          });

          var rightPicker = new google.visualization.ControlWrapper({
            'controlType': 'CategoryFilter',
            'containerId': 'order_right_picker_div',
            'options': {
              'filterColumnLabel': 'Right',
              'ui': {
                'labelStacking': 'horizontal',
                'allowTyping': false,
                'allowMultiple': true,
                'allowNone': true,
                'labelFontSize': 10, // Adjust font size
                'labelFontStyle': 'normal', // Adjust font style
                'labelColor': 'black', // Adjust font color
                'labelBackground': 'none', // Remove label background
                'labelPadding': 2, // Adjust label padding
                'labelSeparator': '', // Remove label separator
                'labelBorderWidth': 0, // Remove label border
                'labelFontName': 'Arial, sans-serif', // Adjust font family
                'selectedValuesLayout': 'belowWrapping' // Adjust layout
              }
            }
          });
          var actionPicker = new google.visualization.ControlWrapper({
            'controlType': 'CategoryFilter',
            'containerId': 'action_picker_div',
            'options': {
              'filterColumnLabel': 'Action',
              'ui': {
                'labelStacking': 'vertical',
                'allowTyping': false,
                'allowMultiple': true,
                'allowNone': true
              }
            }
          });
          var statusPicker = new google.visualization.ControlWrapper({
            'controlType': 'CategoryFilter',
            'containerId': 'status_picker_div',
            'options': {
              'filterColumnLabel': 'Status',
              'ui': {
                'labelStacking': 'vertical',
                'allowTyping': false,
                'allowMultiple': true,
                'allowNone': true
              }
            }
          });
          var orderTypePicker = new google.visualization.ControlWrapper({
            'controlType': 'CategoryFilter',
            'containerId': 'orderType_picker_div',
            'options': {
              'filterColumnLabel': 'OrderType',
              'ui': {
                'labelStacking': 'vertical',
                'allowTyping': false,
                'allowMultiple': true,
                'allowNone': true,
                'lable': 'Position'
              }
            }
          });

          // Instantiate and draw the chart.
          var dash = new google.visualization.Dashboard(document.getElementById('dashboard_open_orders'));

          dash.bind([rightPicker,actionPicker,orderTypePicker,statusPicker], [tableChart1]);
          dash.draw(data);

          var chart = new google.visualization.Table(document.getElementById('open_orders'));
          chart.draw(data, options1);
        })
      }
  function drawPositionsToRollChart() {
      // Define the chart to be drawn.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Right');
      data.addColumn('string', 'LastTradeDate');
      data.addColumn('string', 'Strike');
      data.addColumn('string', 'Position');
      var rows = [];
      fetch("/trade/portfolio_spy")
      .then(res => res.json())
      .then(d => {
        for (position_to_roll of d.positions_to_roll) {
          var row = []
          row[0] = position_to_roll[1].right.toString()
          row[1] = position_to_roll[1].lastTradeDateOrContractMonth.toString()
          row[2] = position_to_roll[1].strike.toString()
          row[3] = position_to_roll[2].toString()
          rows.push(row)
        }
        data.addRows(rows);
        var options = {
          showRowNumber: true,
          width: '100%'
        };

        var tableChart = new google.visualization.ChartWrapper({
          'chartType': 'Table',
          'containerId': 'positions_to_roll',
          'options': {
            page: 'enable',
            pageSize: '50',
            allowHtml: 'true',
            sortColumn: '2',
            sortAscending: 'false',
            showRowNumber: 'true',
            width: '100%'
            //'cssClassNames': cssClassNames
          }
        });

        var rightPicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'right_picker_div',
          'options': {
            'filterColumnLabel': 'Right',
            'ui': {
              'labelStacking': 'vertical',
              'allowTyping': false,
              'allowMultiple': true,
              'allowNone': true
            }
          }
        });
        var LastTradeDatePicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'LastTradeDate_picker_div',
          'options': {
            'filterColumnLabel': 'LastTradeDate',
            'ui': {
              'labelStacking': 'vertical',
              'allowTyping': false,
              'allowMultiple': true,
              'allowNone': true
            }
          }
        });
        var StrikePicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'Strike_picker_div',
          'options': {
            'filterColumnLabel': 'Strike',
            'ui': {
              'labelStacking': 'vertical',
              'allowTyping': false,
              'allowMultiple': true,
              'allowNone': true
            }
          }
        });
        var PositionPicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'Position_picker_div',
          'options': {
            'filterColumnLabel': 'Position',
            'ui': {
              'labelStacking': 'vertical',
              'allowTyping': false,
              'allowMultiple': true,
              'allowNone': true
            }
          }
        });

        // Instantiate and draw the chart.
        var dash = new google.visualization.Dashboard(document.getElementById('dashboard'));

        dash.bind([rightPicker, LastTradeDatePicker, StrikePicker, PositionPicker], [tableChart]);
        dash.draw(data);

        var chart = new google.visualization.Table(document.getElementById('positions_to_roll'));
        chart.draw(data, options);
      })

    }

  function fetch_data(){
    fetch("https://jsonplaceholder.typicode.com/todos/1")
    .then(res => res.json())
    .then(d => {
      document.getElementById('userID').innerText = d.title + Date.now()
      console.log(d)
    })
  }

  function fetch_spy_price(){
    //to bypass the cert error, need open a new tab, and access the below url, and access the risk.
    fetch("/trade/price")
    .then(res => res.json())
    .then(d => {
      document.getElementById('spy_price').innerText = d.price
      document.getElementById('spy_srike_price').innerText = d.strike_price
      console.log(d)
    })
  }

  function fetch_balance(){
    //to bypass the cert error, need open a new tab, and access the below url, and access the risk.
    fetch("/trade/account_balance")
    .then(res => res.json())
    .then(d => {
      document.getElementById('cash').innerText = d.cash
      document.getElementById('buying_power').innerText = d.buying_power
      document.getElementById('net_asset').innerText = d.net_asset
      console.log(d)
    })
  }

  function fetch_spy_portfolio(){
    //to bypass the cert error, need open a new tab, and access the below url, and access the risk.
    fetch("/trade/portfolio_spy")
    .then(res => res.json())
    .then(d => {
      document.getElementById('spy_position').innerText = d.spy_position
      document.getElementById('call_amt').innerText = d.call_amt
      document.getElementById('put_amt').innerText = d.put_amt
      //alert(d.positions_to_roll[0][0])
      //document.getElementById('position_to_roll').innerText = d.positions_to_roll[0][0]
      var position_to_roll_str = "Right  LastTradeDate  Strike  Position " + "\n"
      for (position_to_roll of d.positions_to_roll) {
        position_to_roll_str = position_to_roll_str + position_to_roll[1].right+ "          " + position_to_roll[1].lastTradeDateOrContractMonth+ "             " + position_to_roll[1].strike+ "       " + position_to_roll[2]+ "  "+"\n"
      }
      document.getElementById('positionsToRoll').innerHTML = position_to_roll_str
      console.log(d)
    })
  }
  //fetch_open_trades();
  //fetch_spy_price();
  //fetch_balance();
  //fetch_spy_portfolio();
/*
setInterval(function(){
  fetch_spy_price();
  fetch_balance();
  fetch_spy_portfolio();
},1000)
    */
   
   google.charts.setOnLoadCallback(drawPositionsToRollChart);
   google.charts.setOnLoadCallback(drawOpenOrdersChart);
  </script>


{% endblock javascripts %}
